@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Define the keyframes to move the background from right to left */
  @keyframes text-shimmer {
    from {
      background-position: 0 0;
    }
    to {
      /* We move it by 200% because the background size will be 200% wide */
      background-position: -200% 0;
    }
  }

  /* Create the utility class to apply it */
  .animate-text-shimmer {
    animation: text-shimmer 8s ease-in-out infinite;
  }
}
